.assign div {
    width: 400px;
    height: 400px;
    color: white;
    background-color: #eee;
    background-image: url("../imgs/square.png");
    padding: 20px;
    margin: 20px auto;
}

.assign-4-shape-1 {
    background-repeat: no-repeat;
    background-size: 80%;
}

.assign-4-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
    background-size: 80%;
}

.assign-4-shape-3 {
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 80%;
}

.assign-4-shape-4 {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
}