body {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color:white;
    border: 1px solid rgb(255, 255, 255);
    width: fit-content;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pic img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}